In [1]:
import pandas as pd

# Read the .csv file
df = pd.read_csv('WestPrices10-25-23.csv')
# Formatting to datetime
df['timestamp'] = pd.to_datetime(df['timestamp'])
# Changes the name of the collumn and drops the old one (could use some work)
df['date'] = df['timestamp']
df = df.drop(columns=['timestamp'])
# Sets the new collumn as index
df.set_index('date', inplace=True)
df

                     price
date
2017-12-13 07:00:00    698
2017-12-13 08:00:00    701
2017-12-13 09:00:00    701
2017-12-13 10:00:00    702
2017-12-13 11:00:00    702
...                    ...
2023-10-24 20:00:00   4765
2023-10-24 21:00:00   4728
2023-10-24 22:00:00   4749
2023-10-24 23:00:00   4784
2023-10-25 00:00:00   4801

[44472 rows x 1 columns]

In [2]:
# Resampling by month
df = df.resample('M').mean()
# Adds the 'pct_change' column 
df['pct_change'] = df['price'].pct_change()
# Drops NaN values in the pct_change
df = df.dropna()
# Rounds the 'pct_change' collumn to 2 decimal houses
df['pct_change'] = (df['pct_change'] * 100).round(2)
df

C:\Users\thoma\AppData\Local\Temp\ipykernel_23920\1786896071.py:2: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').mean()
C:\Users\thoma\AppData\Local\Temp\ipykernel_23920\1786896071.py:4: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  df['pct_change'] = df['price'].pct_change()

                  price  pct_change
date
2018-01-31   619.708895       -8.60
2018-02-28   666.845238        7.61
2018-03-31   698.574526        4.76
2018-04-30   716.954103        2.63
2018-05-31   751.991215        4.89
...                 ...         ...
2023-06-30  5240.675000        9.98
2023-07-31  5640.117409        7.62
2023-08-31  5199.641509       -7.81
2023-09-30  5417.777469        4.20
2023-10-31  5096.585069       -5.93

[63 rows x 2 columns]

In [29]:
# Which of the months has the highest difference in pct_change (When to invest)
monthly_data = df.groupby(df.index.month)['pct_change'].median()

monthly_data

date
1    -0.660
2     1.815
3     0.740
4    -3.375
5     0.140
6     5.655
7     2.420
8     0.595
9     2.185
10    0.405
11    6.255
12   -0.790
Name: pct_change, dtype: float64

In [24]:
# Remove the pre-free-to-play data

# Create a boolean mask for the date range to remove
mask = ~((df.index >= '2018-01-31') & (df.index <= '2019-10-31'))

# Filter the DataFrame using the boolean mask
df = df.loc[mask]

df

                  price  pct_change
date
2019-11-30  3341.311453       -6.42
2019-12-31  2954.140731      -11.59
2020-01-31  2920.024423       -1.15
2020-02-29  2577.688857      -11.72
2020-03-31  2595.364005        0.69
2020-04-30  2579.494429       -0.61
2020-05-31  2583.901750        0.17
2020-06-30  2771.445063        7.26
2020-07-31  2841.393817        2.52
2020-08-31  2825.247297       -0.57
2020-09-30  2816.350975       -0.31
2020-10-31  2823.154263        0.24
2020-11-30  2860.086231        1.31
2020-12-31  3030.008130        5.94
2021-01-31  3024.885832       -0.17
2021-02-28  3122.286140        3.22
2021-03-31  2997.047361       -4.01
2021-04-30  2813.061538       -6.14
2021-05-31  2814.572289        0.05
2021-06-30  2816.924264        0.08
2021-07-31  2803.524259       -0.48
2021-08-31  2852.948856        1.76
2021-09-30  2952.191074        3.48
2021-10-31  3094.652759        4.83
2021-11-30  3441.117318       11.20
2021-12-31  3182.215633       -7.52
2022-01-31  2961.239247       -6.94
2022-02-28  2973.275298        0.41
2022-03-31  2997.635262        0.82
2022-04-30  2997.691667        0.00
2022-05-31  3030.726046        1.10
2022-06-30  3153.391667        4.05
2022-07-31  3226.456873        2.32
2022-08-31  3423.247297        6.10
2022-09-30  3453.868715        0.89
2022-10-31  3473.440217        0.57
2022-11-30  4095.406685       17.91
2022-12-31  4392.498645        7.25
2023-01-31  4516.246299        2.82
2023-02-28  5494.221226       21.65
2023-03-31  5537.729839        0.79
2023-04-30  4760.005556      -14.04
2023-05-31  4765.286676        0.11
2023-06-30  5240.675000        9.98
2023-07-31  5640.117409        7.62
2023-08-31  5199.641509       -7.81
2023-09-30  5417.777469        4.20
2023-10-31  5096.585069       -5.93

In [30]:
# Dump the .csv file to the folder

monthly_data.to_csv('whenToInvest.csv')